.issueListView-body {
  width: 80%;
  margin: 2% auto;
}

.issueListView-body-topNav {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  height: 4vh;
}

.issueListView-body-topNav-searchArea {
  flex: 2.4;
  margin: 0px 20px 0px 0px;
  display: flex;
}

.issueListView-body-opNav-labelMilestones {
  flex: 1;
  margin: 0 20px;
  display: flex;
  //justify-content: space-between;
}

#MakeIssueButton {
  flex: 1;
  margin: 0 20px;
}

#labelLink {
  flex: 1;
}

#milestoneLink {
  flex: 1;
}
