.issue-control {
    width: 12vw;
    height: 4vh;
    background-color: #fafbfc;
    color: black;
    border: 0.5px solid #585858;
    border-radius: 5px;
    font-size: 1vw;
    margin-right: 1%;
}