
.create-content {
    height: 60vh;
    width: 68vw;
    border-radius: 5px;
    border: 0.5px solid #818991;
    background-color: #fafbfc;
    margin-left:1vw;
    margin-top:1vw;
}

.create-image {
    height: 5vh;
    width: 68vw;
    color: #818991;
    display:flex;
    align-items: center;
    background-color: #fafbfc;
    border-radius: 5px;
    border: 0.5px solid #818991;
    margin-left:1vw;
    margin-top:1vw;
}