.dropdown-button {
    background-color:white;
    width: 100%;
    height: 100%;
    border: 0.1px solid rgb(119, 119, 119);
}

.dropdown-button:hover{
    background-color: blue;
    color: white;
}