
.comment-create-content {
    height: 15vh;
    width: 75vw;
    border-radius: 5px;
    border: 0.5px solid #818991;
    background-color: #fafbfc;
    margin-left:1vw;
    margin-top:1vw;
}

.comment-create-image {
    height: 5vh;
    width: 75vw;
    color: #818991;
    display:flex;
    align-items: center;
    background-color: #fafbfc;
    border-radius: 5px;
    border: 0.5px solid #818991;
    margin-left:1vw;
    margin-top:1vw;
}